.pokemon-container{
    background-color: rgb(51, 49, 49);
    display: flex; 
    flex-wrap: wrap;
}

.pokemon-block{
    
    background-color: grey;
    border-radius: 3%;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 120px;
    
}

.pokemon-id{
    color:#fff;
    background-color: black;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    left: 2px;
    bottom:128px;
}
.pokemon-name{
    position: relative;
    left : 140px;
    bottom: 100px;
  
}
.tag{
    position : relative;
    left: 140px;
    bottom: 90px;
}
.type-container{
    position: relative;
    display: flex;
    left : 140px;
    bottom: 85px;
}
.pokemon-type{
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(54, 48, 48);
    margin-left: 10px;
    border-radius: 4%;
    width: 45px;
    height: 20px;
}
.btn-info{
    position : relative;
    left: 160px;
    bottom: 80px;
    background-color: black;
    color: white;
    border-radius: 4%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
img{
  position: relative;
  background-color: white;
  border-radius: 50%;
  left : 33px;
  
}