body{
    margin:0px;
    margin-top: 0px;
    background-color: rgb(51, 49, 49);
    
}
.nav-bar{
    background-color: black;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.nav-bar-item{
    display: flex;
    flex-wrap: wrap;
    list-style-type:none;
    
}
.nav-bar-item-container{
    border-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 49, 49);
    color: #fff;
    border-radius: 10%;
    margin-left: 10px;
    width: 60px;
    height: 30px;
}

.pokemon-container{
    
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-block{
    
    background-color: grey;
    border-radius: 3%;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 260px;
    height: 120px;
    
}

.pokemon-id{
    color:#fff;
    background-color: black;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-top: 5px;
    
}
.pokemon-name{
    position: relative;
    left : 130px;
    bottom: 100px;
    width: 150px;
  
}
.tag{
    position : relative;
    left: 130px;
    bottom: 95px;
    width: 100px;
}
.type-container{
    position: relative;
    display: flex;
    left : 120px;
    bottom: 90px;
    width: 100px;
}
.pokemon-type{
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(54, 48, 48);
    margin-left: 10px;
    border-radius: 4%;
    width: 45px;
    height: 20px;
    
}

.img-pokemon{
  position: relative;
  background-color: white;
  border-radius: 50%;
  left : 25px;
  
}
.header-bg{
 
    background-image: url("img/team-1572480_960_720.jpg");
    background-position: 0px -160px;
    width: 100%;
    background-size: cover;
    height: 150px;
    color: white;

    display: flex;
    justify-content: left;
    align-items: center;
    
}
h1{
    margin-left: 20px;
}

